<?xml version="1.0"?>
<model>
  <name>NIOSH Staging Connector Finals</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Connector tile for the NIOSH world and Finals staging area.
  </description>
</model>
