<?xml version="1.0"?>

<model>
  <name>Iris Lidar</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jagadeesh Pradhani</name>
    <email>motaz.d.pradhani@gmail.com</email>
  </author>

  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>


  <description>
    A copy of the 3DR Iris model taken from
    https://github.com/PX4/sitl_gazebo/tree/master/models
    Local modifications include adding standoffs,
    inertia and collision updates..
  </description>
</model>
